.App {
  text-align: center;
}
 
.App h1{
  color: rgb(79, 168, 228);
  font-weight: 500;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
  background-color: grey;
}
.App button{
  float: right;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgb(73, 76, 80);
  background: lightblue;
  font-weight: 300;
}
.App button:hover{
  background: rgb(149, 232, 238);
  color: rgb(18, 19, 18);
  box-shadow: 2px 5px  10px rgba(0,0,0,0.5);
}
